/* styles.css */

/* Your existing styles */

@media screen and (max-width: 768px) {
    table {
        display: block;
        padding-left: 2em;
        padding-right: 2em;
        height: 100%;
    }
    /* thead {
        display: block;
        padding-left: 2em;
        padding-right: 2em;
        height: 100%;
    } */
    tbody {
        display: block;
        padding-left: 2em;
        padding-right: 2em;
        height: 100%;
    }
    tr {
        display: block;
        background-color: #f9f9f9;
        border-radius: 5px;
        overflow: hidden;
        margin-top: 1em;
    }

    td {
        padding: 50px 20px;
        display: block;
        box-sizing: border-box;
    }
}