@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
$pink: rgba(248, 2, 191, 0.5);
$primary: $pink;
$box-shadow: 0 .5rem 1rem rgba($primary, 0.4);
.btn {
    &:hover {
        box-shadow: 0 0 2rem rgba($primary, 0.3);
    }
}
.nav-link {
    &:hover {
        text-shadow: $primary 0 0 0.5em;//, 0 0 0.2em $primary;\
        font-weight: bold;
    }
}
.bg-gray {
    &:hover {
      box-shadow: 0 0 2rem rgba($primary, 0.3);
    }
    background-color: $gray-300;
}
@include color-mode(dark) {
  .bg-gray {
    &:hover {
      box-shadow: 0 0 2rem rgba($primary, 0.3);
    }
    background-color: $gray-800
  }
}
// $box-shadow-lg: 0 1rem 3rem rgba(248, 2, 191, 0.5);
@import "bootstrap/scss/bootstrap";
@each $breakpoint in map-keys($grid-breakpoints) {
    $sizes: ( 25: 25%, 50: 50%, 75: 75%, 100: 100%, );
    @each $size, $length in $sizes {
      @include media-breakpoint-up($breakpoint) {
        .w-#{$breakpoint}-#{$size} {width: $length !important;}
      }
    }
  }